
body {
    background-image: url('/static/img/purty_wood.png');
    background-color: rgba(1.0, 0, 1.0, 0);
    position: relative;
/*    font-family: tahoma, sans-serif;

*/}

.container {
    background-color: brown;
    color: white;
/*    background-image: url('/static/img/redox_01.png');
*/    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  width: 940px;
  position: center;
  *zoom: 1;
  border-color: blue;
    border-radius: 10px 10px;
    padding: 10px;
    padding-bottom: 40px;

}

.padded {
  padding: 15px;

}

/*h1{

  font-style: tahoma;
  color: #DEB887;
  text-shadow: 0px 2px 2px #555;

}*/
 h1 {
        text-shadow: 0px 1px 1px #4d4d4d;
        color:  #DEB887;
        font: 50px 'LeagueGothicRegular';
}
.gray{
  color: #C0C0C0;
}

.title {
  color: #FFF8DC;
}

.font {
  color: #FFF8DC;
}
small{
  font-size: 12pt;
  color: #BC8F8F;
}

.mini {
  background-color: transparent;
  margin-left: 200px;
  text-align: left;
  line-height: 200%;
  font-style: tahoma;


}

li {font-style: tahoma, sans-serif;
    font-size:20px;
    line-height: 35px;
}

div.login-button {
    position: absolute;
    color: white;
    right: 15px;
    top: 15px;
    
}

div.submit-button {
/*    text-align: right;
*/    margin-right: 100px;
    margin-top: 30px;
}
a {
  color: white;
/*  color: #FFF8DC;
*/  text-decoration: none;
}

p{line-height: 20px;}
a.underline {
  text-decoration: underline;
}

a.underline: hover{
  color: #C0C0C0;
  text-decoration: none;

}


a:hover {
  color: #C0C0C0;
}

div.login-button a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: #999;
    padding: 5px;
    margin: 10px;
    border-top: #aaa 2px solid;
    border-left: #aaa 2px solid;
    border-right: #777 2px solid;
    border-bottom: #777 2px solid;
    border-radius: 5px 5px;
}

div.login-button a:active {
    background-color: #777;
    border-top: #999 2px solid;
    border-left: #999 2px solid;
    border-right: #555 2px solid;
    border-bottom: #555 2px solid;
}

div.login-button a:hover {
    background-color: #AAA;
    border-top: #BBB 2px solid;
    border-left: #BBB 2px solid;
    border-right: #999 2px solid;
    border-bottom: #999 2px solid;

}



#button_login{
  background-color: #404040;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}





/*
#textbox1{
  width: 250px;
  height: 15px;
  padding: 10px;
  margin-top: 10px;
}

#button1{
  height: 35px;
  padding: 0px 5px;
  margin-top: 0px;
  background-color: gray;
  line-height: 15px
  margin-left: 20px;
}#login{
  margin-top: 200px;
  text-align: center;
}
*/
